*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#update{
    display: none;
}

table thead td{
    font-weight: bold;
}

thead{
    border: 2px solid black;
    border-radius: 20px !important;
    padding: 20px !important;
}